# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
**/node_modules/

# Web (Next.js)
**/.next/
**/out/
**/build/

# Mobile (Rest Native / Expo)
**/.expo/
**/android/
**/ios/
**/web-build/
**/dist/
**/.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*
*.log

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db

# IDEs
.idea/
*.iml
.vscode/

# Native signing & credentials
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.keystore
*.mobileprovision
*.apk
*.ap_
*.dex
*.class
*.hprof

# Metro
.metro-health-check*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Scripts
extract_DSR.sh
